/* ABOUT ME PAGE */

body{
    margin: auto;
    padding: 0 px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'GFS Didot', serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    display: inline-block;
    border-bottom: 2px solid currentColor;
    padding-top: 15px;
    padding-bottom: 5px;
}

p{
    font-size: 20px;
    line-height: 1.85em;
    letter-spacing: 2px;
}

/* NAVBAR */
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #385959;
    text-align: center;
    width: 100%;
}

header .logo a img{
    width: 40px;
}

header .nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style-type: none;
    white-space: nowrap;
    background-color: #385959
}

header .nav-links a{
    color: #FFECD2;
    text-decoration: none;
    font-weight: normal;
    opacity: 0.7;
    letter-spacing: 2px;
}

header .nav-links .about{
    color: #FCB69F;
    opacity: 1;
}

header nav ul li a{
    transition: 0.3s ease 0s;
}

header nav .language{
    position: absolute;
    right: 10%;
    text-decoration: none;
    color: #FFECD2;
    opacity: 0.7;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s ease 0s;
}

header nav .language .english{
    color: #FCB69F;
    opacity: 1;
}

header nav .language:hover{
    opacity: 1;
    letter-spacing: 4px;
}

/* header li a{
    transition: all .5s ease 0s;
} */

header nav ul li a:hover{
    opacity: 1;
    letter-spacing: 4px;
}

header nav .burger div{
    width: 25px;
    height: 1px;
    border: 0.5px solid #FFECD2;
    border-radius: 5px;
    background-color: #FFECD2;
    margin: 5px;
}

header nav .burger div{
    display: none;
}


/* BANNER */

.hero-image-about {
    text-align: center;
    margin: auto;
    background-image: linear-gradient(98.24deg, rgba(255, 236, 210, 0.65),rgba(252, 182, 159, 0.65)), url("pictures/aboutbannercopy.png");
    width: 100%;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image-about .introwrap{
    color: #385959;
    font-weight: 500;
    width: 650px;
    margin: auto;
}

section.hero-image-about h1{
    font-size: 25px;
    color: #385959;
    margin: 0;
    padding-top: 50px;
}

.hero-text-about{
    text-align: center;
    padding: 50px;
}

.hero-text-about img{
    width: 300px;
}

/* SOCIAL MEDIA */

div ul.social-media-list-about{
    width: 200px;
    margin: auto;
    padding-top: 25px;
    padding-left: 0px;
    color: #FCB69F;
    transition: 0.3s ease 0s;
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
}

div ul.social-media-list-about li{
    list-style: none;
    padding: 0;
}

ul.social-media-list-about li a img{
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    background: #FFECD2;
    transition: all 0.3s ease 0s;
}

div ul.social-media-list-about li a img:hover{   
    background: linear-gradient( rgba(252, 182, 159, 0.85), rgba(252, 182, 159, 0.15));
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.55);
}

/* respinsive ws */


@media screen and (max-width: 1024px){
        header nav .nav-links{
            display: flex;
            justify-content: space-around;
            width: 50%;
            letter-spacing: normal;
        }
    }

@media screen and (max-width: 768px){
        header nav .nav-links ul{
            position: relative;
            right: 0px;
            height: 92vh;
            top: 8vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            letter-spacing: normal;
        }
    
        header nav .burger div{
            display: block;
            cursor: pointer;
        }
        .nav-links li{
            display: none;
        }
    
        header nav .language{
            position: absolute;
            right: 20%;
        }
    
        .hero-text-about img{
            width: 300px;
            text-align: center;
        }
    
        h1{
            font-size: 20px;
            text-align: center;
            letter-spacing: 2px;
        }

        .hero-image-about .introwrap{
            width: 400px;
        }
        p{
            font-size: 18px;
            line-height: 1.4em;
        }
        div ul.social-media-list{
            width: 150px;
        }
    
        div ul.social-media-list li a img{
           max-width: 35px;
        }
}

@media screen and (max-width: 400px){
    
    .hero-image-about {
        height: 550px;
    }

    .hero-text-about{
        padding: 25px;
    }
    
    .hero-text img{
        width: 200px;
        text-align: center;
    }

    .hero-text p{
        font-size: 14px;
        letter-spacing: 3px;
        padding-top: unset;
    }

    h1{
        font-size: 16px;
        text-align: center;
        letter-spacing: 2px;
        padding: 0px;
    }
    p{
        font-size: 12px;
        line-height: 1.4em;
    }
    
    .social-media-list-about{
        width: 120px;
    }

    .social-media-list-about li a img{
       max-width: 35px;
    }

    .hero-image-about .introwrap{
        width: 250px;
        text-align: center;
        margin: auto;
    }
}        