/* ABOUT ME PAGE */

body{
    margin: auto;
    padding: 0 px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'GFS Didot', serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    display: inline-block;
    border-bottom: 2px solid currentColor;
    padding-top: 15px;
    padding-bottom: 5px;
}

p{
    font-size: 20px;
    line-height: 1.85em;
    letter-spacing: 2px;
}

/* NAVBAR */
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #385959;
    text-align: center;
    width: 100%;
}

header .logo a img{
    width: 40px;
}

header .nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style-type: none;
    white-space: nowrap;
    background-color: #385959
}

header .nav-links a{
    color: #FFECD2;
    text-decoration: none;
    font-weight: normal;
    opacity: 0.7;
    letter-spacing: 2px;
}

header .nav-links .about{
    color: #FCB69F;
    opacity: 1;
}

header nav ul li a{
    transition: 0.3s ease 0s;
}

header nav .language{
    position: absolute;
    right: 10%;
    text-decoration: none;
    color: #FFECD2;
    opacity: 0.7;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s ease 0s;
}

header nav .language .english{
    color: #FCB69F;
    opacity: 1;
}

header nav .language:hover{
    opacity: 1;
    letter-spacing: 4px;
}

/* header li a{
    transition: all .5s ease 0s;
} */

header nav ul li a:hover{
    opacity: 1;
    letter-spacing: 4px;
}

header nav .burger div{
    width: 25px;
    height: 1px;
    border: 0.5px solid #FFECD2;
    border-radius: 5px;
    background-color: #FFECD2;
    margin: 5px;
}

header nav .burger div{
    display: none;
}


/* BANNER */

.hero-image-about {
    text-align: center;
    margin: auto;
    background-image: linear-gradient(98.24deg, rgba(255, 236, 210, 0.65),rgba(252, 182, 159, 0.65)), url("pictures/aboutbannercopy.png");
    width: 100%;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image-about .introwrap{
    color: #385959;
    font-weight: 500;
    width: 650px;
    margin: auto;
}

section.hero-image-about h1{
    font-size: 25px;
    color: #385959;
    margin: 0;
    padding-top: 50px;
}

.hero-text-about{
    text-align: center;
    padding-top: 80px;
}

.hero-text-about img{
    width: 300px;
}

/* SOCIAL MEDIA */

div ul.social-media-list-about{
    width: 250px;
    margin: auto;
    padding-top: 60px;
    padding-left: 0px;
    color: #FCB69F;
    transition: 0.3s ease 0s;
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
}

div ul.social-media-list-about li{
    list-style: none;
    padding: 0;
}

ul.social-media-list-about li a img{
    width: 60px;
    border-radius: 50%;
    padding: 5px;
    background: #FFECD2;
    transition: all 0.3s ease 0s;
}

div ul.social-media-list-about li a img:hover{   
    background: linear-gradient( rgba(252, 182, 159, 0.85), rgba(252, 182, 159, 0.15));
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.55);
}

/* MY STORY */

section.story{
    text-align: center;
    color: #385959;
    width: 100%;
}

div.mystory{
    background: rgba(255, 236, 210, 0.65);
    height: 650px;
}

div.mystory .mystory-wrapper{
    width: 650px;
    margin: auto;
    text-align: left;
}

div.mystory-pic{
    height: 300px;
    background-image: linear-gradient(98.24deg, rgba(255, 236, 210, 0.65),rgba(252, 182, 159, 0.65)), url("pictures/mystorypic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.inspirations{
    background: rgba(255, 236, 210, 0.65);
    height: 650px;
}

div.inspirations div.inspirations-wrapper{
    width: 650px;
    margin: auto;
    text-align: left;
}

div.inspirations-pic{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(98.24deg, rgba(255, 236, 210, 0.65),rgba(252, 182, 159, 0.65)), url("pictures/inspirationspic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.above65{
    height: 400px;
    width: 100%;
    background: rgba(255, 236, 210, 0.65);
    text-align: center;
    padding: 0;
}

div.above65 .above65-wrapper{
    width: 650px;
    margin: auto;
    text-align: left;
}

div.above65 a{
    text-decoration: none;
    display: inline-block;
    background-color: #385959;
    font-size: 18px;
    line-height: 1.85em;
    letter-spacing: 0.085;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #FFECD2;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3px;
    transition: all 1s ease 0s;
}

div.above65 a:hover{
    color: #385959;
    font-weight: 700;
    letter-spacing: 5px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

/* FOOTER */
footer nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #385959;
    text-align: center;
    width: 100%;
}

footer ul{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
    list-style-type: none;
    white-space: nowrap;
    background-color: #385959;
}

footer nav ul li a{
    text-decoration: none;
    color: #FFECD2;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}

footer nav ul li a:hover{
    color: #FCB69F;
    opacity: 1;
    letter-spacing: 2px;
}

/* respinsive ws */


@media screen and (max-width: 1024px){
        header nav .nav-links{
            display: flex;
            justify-content: space-around;
            width: 50%;
            letter-spacing: normal;
        }
        footer ul{
            display: flex;
            justify-content: space-around;
            width: 80%;
        }
    }

@media screen and (max-width: 768px){
        header nav .nav-links ul{
            position: relative;
            right: 0px;
            height: 92vh;
            top: 8vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            letter-spacing: normal;
        }
    
        header nav .burger div{
            display: block;
            cursor: pointer;
        }
        .nav-links li{
            display: none;
        }
    
        header nav .language{
            position: absolute;
            right: 20%;
        }
    
        .hero-text-about img{
            width: 300px;
            text-align: center;
        }
    
        h1{
            font-size: 20px;
            text-align: center;
            letter-spacing: 2px;
        }

        .hero-image-about .introwrap{
            width: 400px;
        }
        p{
            font-size: 18px;
            line-height: 1.6em;
        }
        div ul.social-media-list{
            width: 150px;
        }
    
        div ul.social-media-list li a img{
           max-width: 35px;
        }

        div.mystory div.mystory-wrapper{
            width: 400px;
        }

        div.mystory-pic{
            height: 200px;
        }

        div.inspirations div.inspirations-wrapper{
            width: 400px;
        }

        div.inspirations-pic{
            height: 200px;
        }

        div.above65 div.above65-wrapper{
            width: 400px;
        }

        footer ul{
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 2em;
        }
        footer nav{
            height: 200px;
        }
        div.above65 a{
            font-size: 14px;
            padding: 8px 16px;
        }
    }

@media screen and (max-width: 400px){
    
    .hero-image-about {
        height: 400px;
    }

    .hero-text-about{
        padding: 25px;
    }
    
    .hero-image-about .hero-text-about img{
        width: 200px;
    }

    section.hero-image-about div.hero-text-about ul{
        padding-top: 25px;
    }

    section.hero-image-about h1{
        padding-top: 0px;
    }

    .hero-text p{
        font-size: 14px;
        letter-spacing: 3px;
        padding-top: unset;
    }

    h1{
        font-size: 14px;
        text-align: center;
        letter-spacing: 2px;
        padding: 0px;
    }
    p{
        font-size: 12px;
        line-height: 1.4em;
    }
    
    .social-media-list-about{
        max-width: 180px;
        padding-left: 0px;
        padding-top: 0px;
    }

    .social-media-list-about li a img{
       max-width: 35px;
    }

    .hero-image-about .introwrap{
        width: 250px;
        text-align: center;
        margin: auto;
    }
    
    div.mystory{
        height: 400px;
    }

    div.mystory div.mystory-wrapper{
        width: 250px;
    }

    div.mystory-pic{
        height: 150px;
    }

    div.inspirations{
        height: 400px;
    }

    div.inspirations div.inspirations-wrapper{
        width: 250px;
    }

    div.inspirations-pic{
        height: 150px;
    }

    div.above65{
        height: 240px;
    }

    div.above65 div.above65-wrapper{
        width: 250px;
    }

    footer ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2em;
    }
    footer nav{
        height: 200px;
    }
    
    div.above65 a{
        font-size: 12px;
        padding: 6px 12px;
        letter-spacing: 3px;
        margin-top: 10px;
    }

    div.above65 div.button a:hover{
        color: #385959;
        font-weight: 700;
        letter-spacing: 5px;
        background: none;
        box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
}        