body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'GFS Didot', serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    border-bottom: 1px solid currentColor;
    padding-top: 20px;
    padding-bottom: 5px;
}

p{
    line-height: 2em;
    letter-spacing: 2px;
}


/* NAV */

.header {
    height: 8vh;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: rgba(56, 89, 89, 0.85);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    z-index: 3;
  }

.header .wrapper{
    width: 80%;
    height: 8vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.header ul {
    width: 50%;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.header li{
    display: inline;
} 

.header li a {
    text-decoration: none;
    color: #FFECD2;
    letter-spacing: 2px;
    transition: 0.3s ease 0s;
  }

  .header li.home a{
      color: #FCB69F;
  }
  
  .header li a:hover,
  .header .language:hover,
  .header .menu-btn:hover {
    letter-spacing: 3px;
    color: #FCB69F;
  }
  
  header .logo img{
    height: 36px;
  }

  .header .language{
    text-decoration: none;
    color: #FFECD2;
    opacity: 0.7;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s ease 0s;
  }

  /* menu icon */
  .header .menu-icon {
    cursor: pointer;
    display: none;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #FFECD2;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #FFECD2;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
   
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media screen and (max-width: 48em) {
    .header .menu{
        position: relative;
        top: -100%;
        float: right;
    }

    .header .menu-btn:checked ~ .menu{
        top: 8vh;
        display: block;
        height: 420px;
        background-color: rgba(56, 89, 89, 0.85);
        transition: 0.5s ease 0s;
    }
    
      .header .menu-btn:checked ~ .menu li {
        display: block;
        padding: 40px 30px;
        text-align: center;

    }

    .header .wrapper{
        display: block;
    }

    .header .menu-icon {
      display: block;
      float: right;
      padding: 35px 0px;
    }

    .header .language{
        display: none;
    }
    .header .logo{
        display: block;
        padding: 15px 0px;
        position: fixed;
    }
  }



/* BANNER */

.hero-image {
    background-image: linear-gradient(98.24deg, rgba(255, 236, 210, 0.65),rgba(252, 182, 159, 0.65)), url("pictures/MG0056copy.png");
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    text-align: center;
    position: relative;
    top: 50%;
}

.hero-text img{
    width: 330px;
}

.hero-text p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 6px;
    color: #385959;
    padding-top: 10px;
    transition: 2s ease;
}

/* ABOUT ME SECTION */

.aboutme{
    background-color: rgba(255, 236, 210, 0.65);
    width: 100%;
    margin: auto;
    min-height: 300px;
    padding: 10px 0;
    color: #385959;
    text-align: center;
}

.aboutme .wrapper{
    max-width: 50%;
    margin: auto;
}

.aboutme img{
    border-radius: 200px;
    max-width: 200px;
    margin-right: 30px;
    float: left;
}

.aboutme p{
    text-align: justify;
}

.aboutme p a{
    text-decoration: none;
}

.aboutme p a b{
    text-decoration: none;
    color: #385959;
    opacity: 0.7;
    transition: 0.3s ease 0s;
}

.aboutme p a b:hover{
    opacity: 1.0;
    letter-spacing: 5px;
}

/* MY WORKSHOPS SECTION */
.myworkshops{
    background-color: rgba(255, 236, 210, 0.65);
    width: 100%;
    margin: auto;
    color: #385959;
    text-align: center;
    min-height: 250px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.myworkshops div{
    max-width: 50%;
    margin: auto;
    text-align: center;
}

.myworkshops a{
    text-decoration: none;
    display: inline-block;
    background-color: #385959;
    font-size: 12px;
    line-height: 1.85em;
    letter-spacing: 0.085;
    padding: 10px 20px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #FFECD2;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3px;
    transition: all 1s ease 0s;
}

.myworkshops p{
    text-align: justify;
}

.myworkshops a:hover{
    color: #385959;
    font-weight: 700;
    letter-spacing: 5px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

/* BOTTM LOGO */

body section.eyes div{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(98.24deg, rgba(255, 236, 210, 0.65),rgba(252, 182, 159, 0.65)), url("pictures/eyes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SOCIAL MEDIA BANNER */

section.socialmedia{
    width: 100%;
    height: 100px;
    background: linear-gradient(98.24deg, rgba(255, 236, 210, 0.65),rgba(252, 182, 159, 0.65));
    text-align: center;
    padding: 0;
}

section.socialmedia p{
    margin: 0;
    padding-top: 20px;
    color: #385959;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

div ul.social-media-list{
    width: 100px;
    margin: auto;
    padding: 0;
    color: #FCB69F;
    transition: 0.3s ease 0s;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

div ul.social-media-list li{
    list-style: none;
    padding: 0;
}

ul.social-media-list li a img{
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    background: #FFECD2;
    transition: all 0.3s ease 0s;
}

div ul.social-media-list li a img:hover{   
    background: linear-gradient( rgba(252, 182, 159, 0.85), rgba(252, 182, 159, 0.15));
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.55);
    /* background: #FFECD2; */
}

/* FOOTER */

footer nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #385959;
    text-align: center;
    width: 100%;
}

footer ul{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
    list-style-type: none;
    white-space: nowrap;
    background-color: #385959;
}

footer nav ul li a{
    text-decoration: none;
    color: #FFECD2;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}

footer nav ul li a:hover{
    color: #FCB69F;
    opacity: 1;
    letter-spacing: 2px;
}

/* RESPONSIVITY */

@media screen and (max-width: 48em){
    .hero-text img{
        width: 300px;
        text-align: center;
    }

    .hero-text p{
        font-size: 20px;
        letter-spacing: 5px;
        padding-top: unset;
    }

    h1{
        font-size: 20px;
        text-align: center;
        letter-spacing: 2px;
    }

    .aboutme{
        height: 500px;
    }

    .aboutme .wrapper{
        width: 400px;
    }

    p{
        font-size: 18px;
        line-height: 1.4em;
    }

    .aboutme img{
        width: 200px;
        float: none;
        margin: 5px;
    }

    .aboutme p{
        text-align: center;
        min-width: 200px;
    }

    .myworkshops{
        height: 350px;
    }
    
    .myworkshops p{
        width: 400px;
        margin: auto;
        min-width: 200px;
    }
    body section.eyes div{
        height: 100px;
    }
    footer ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2em;
    }
    footer nav{
        height: 200px;
    }
}

@media screen and (max-width: 400px){
    .hero-image {
        height: 300px;
    }

    .hero-text{
        width: 200px;
        text-align: center;
        margin: auto;
        top: 15%;
    }

    .hero-image .hero-text img{
        width: 200px;
     }

    .hero-text p{
        font-size: 14px;
        letter-spacing: 3px;
    }

    h1{
        font-size: 14px;
        text-align: center;
        letter-spacing: 2px;
    }

    .aboutme{
        height: 375px;
    }

    .aboutme .wrapper{
        width: 100%;
        margin-right: 0;
    }

    p{
        font-size: 12px;
        line-height: 1.4em;
    }

    .aboutme img{
        width: 150px;
        float: none;
        margin: 10px;
    }

    .aboutme p{
        text-align: center;
        width: 250px;
        margin: auto;
    }

    .myworkshops{
        height: 300px;
    }
    
    .myworkshops p{
        margin: auto;
        width: 240px;
    }
    body section.eyes div{
        height: 50px;
    }
    footer ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2em;
    }
    footer nav{
        height: 200px;
    }
}