body{
    margin: auto;
    padding: 0 px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'GFS Didot', serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-bottom: 50px;
}

p{
    font-size: 20px;
    line-height: 1.85em;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
}

/* HEADER */
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #385959;
    text-align: center;
}

header .logo a img{
    width: 40px;
}

header .nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style-type: none;
    white-space: nowrap;
}

header .nav-links a{
    color: #FFECD2;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.7;
    letter-spacing: 2px;
}

header .nav-links .home{
    color: #FCB69F;
    opacity: 1;
}

header .nav-links .language{
    padding-left: 140%;
}

header .nav-links .language .english{
    color: #FCB69F;
}

/* header li a{
    transition: all .5s ease 0s;
} */

header li :hover{
    opacity: 1;
}

/* BANNER */

.hero-image {
    background-image: linear-gradient(98.24deg, rgba(255, 236, 210, 0.65),rgba(252, 182, 159, 0.65)), url("pictures/_MG_0056_1.png");
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.hero-text{
    text-align: center;
    position: relative;
    top: 35%;
}

.hero-text img{
    width: 500px;
}

.hero-text p{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    color: #385959;
    padding-top: 20px;
}

/* ABOUT ME SECTION */

.aboutme{
    background-color: rgba(255, 236, 210, 0.65);
    width: 100%;
    margin: auto;
    height: 400px;
    color: #385959;
    padding: 50px 50px;
    text-align: center;
}

.aboutme .wrapper{
    max-width: 800px;
    margin: auto;
}

.aboutme img{
    border-radius: 200px;
    max-width: 250px;
    margin-right: 50px;
    float: left;
}

.aboutme p{
    min-width: 500px;
    text-align: left;
}

/* MY WORKSHOPS SECTION */
.myworkshops{
    background-color: rgba(252, 182, 159, 0.65);
    width: 100%;
    margin: auto;
    height: 400px;
    color: #385959;
    padding: 50px 50px;
    text-align: center;
}

.myworkshops div{
    max-width: 800px;
    margin: auto;
}

.myworkshops a{
    text-decoration: none;
    display: inline-block;
    background-color: #385959;
    font-size: 20px;
    line-height: 1.85em;
    letter-spacing: 0.085;
    text-align: center;
    padding: 15px 60px;
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #FFECD2;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 5px;
    transition: all 1s ease 0s;
}

.myworkshops a:hover{
    color: #385959;
    font-weight: 700;
    letter-spacing: 5px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}